body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.colors {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.color-box {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
}

label {
  font-size: 12px;
}

input[type=range] {
  -webkit-appearance: none;
  height: 12px;
  border-radius: 6px;
  background: #555;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  border: 1px solid #FFF;
  margin-top: -2px;

}

.input-group {
  display: flex;
  gap: 6px;
  margin-top: 4px;
}

.input-group input {
  flex: 1;
  padding: 4px;
  background: #222;
  border: none;
  color: white;
  font-size: 12px;
}

.gradient-container {
  padding: 0 20px;
  height: 40px;
  width: 100%;
  position: relative;
  margin: 20px 0;
  cursor: pointer;
}

.gradient-bar {
  width: 100%;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 6px;
  background: #444;
  position: relative;
}

.mid-indicator {
  width: 16px;
  height: 32px;
  background: transparent;
  border: 1px solid #FFF;
  position: absolute;
  top: -2px;
  border-radius: 4px;
  cursor: pointer;
  transform: translateX(-50%);
}