@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fef9eb;
}

.drawer {
  @apply
    fixed 
    md:relative 
    md:sticky 
    md:transform-none 
    top-0 
    h-screen 
    bg-[#233d43]
    text-[#fef9eb] 
    md:py-6 
    pt-2 
    pb-6 
    flex 
    flex-col 
    justify-between
    w-[250px]
    transform
    transition-transform
    duration-300
    ease-in-out
    z-40
}

.side-nav {
  a {
    @apply
      px-6
      py-2
      block
    ;
    &:hover {
      @apply
        bg-[#000000]
    }
  }
}

.footer-container {
  @apply
    flex
    md:flex-row 
    justify-evenly 
    flex-col
}

.footer-container section {
  @apply
    w-full
    text-black 
    p-6 
    rounded-md   
}
.footer-container .currently {
  @apply
    bg-[#ffdc99] 
    hover:bg-[#ffbf47] 
    mb-6 
    md:mb-0 
    mt-6 
    md:mt-0
}

.footer-container .thought {
  @apply
    bg-[#8ecaf6] 
    hover:bg-[#54aff1] 
}


.prose {
  a {
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 6px;
    color: #d81159;
    &:hover {
      padding-bottom: 2px;
      border-bottom: 4px solid #000;
    }
  }
}