@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geist";
    src: url("/fonts/geist-variable.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Geist Mono";
    src: url("/fonts/geist-mono-variable.woff2") format("woff2");
    font-display: swap;
  }
}


@layer components {
  body {
    @apply bg-slate-50 text-black dark:bg-zinc-900 dark:text-zinc-100;
  }

  p:not(p:last-child) {
    @apply mb-6;
  }

  a {
    @apply relative text-pink-500 font-semibold font-sans pb-2;
  }

  a::before {
    content: '';
    @apply absolute w-full h-1 border-r-4 bottom-0 left-0 origin-right scale-x-0 transition-transform duration-300 ease-in-out bg-pink-500;
  }

  a:hover::before {
    @apply origin-left scale-x-100;
  }
}