---
import App from "../components/HsbColorPicker";
import "../styles/colorpicker.css";
---

<html>
  <head>
    <title>HSB Midpoint Color Picker</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
