---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      welcome to my personal blog, my little corner of the internet where I document my various adventures in code and tech, the kitchen, and life in general.
    </p>
    <p>
      powered by <a href="https://astro.build" target="_blank">astro</a> &amp; 
      <a
        href="https://github.com/nicholasdly/miniblog?tab=readme-ov-file"
        target="_blank">miniblog theme</a
      >.
    </p>
  </main>
</Layout>
