---
import { getCollection } from "astro:content";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";

const collection = await getCollection("posts");
const posts = collection.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h2 class="my-10 font-sans text-lg">paused:</h2>
  brb, taking a break.
</BaseLayout>
