---
import BaseLayout from "../layouts/BaseLayout.astro";

const links = [
  {
    name: null,
    url: null,
    description: null,
  },
];
---

<BaseLayout title="Links" description="A collection of useful links.">
  <main class="p-6">
    <h1 class="my-10 text-2xl lowercase">Links</h1>
    <ul>
      {
        links.map((link, index) => {
          return (
            <li
              class={
                index === 0
                  ? "flex gap-10 border-y border-gray-300 px-4"
                  : "flex gap-10 border-b border-gray-300 px-4"
              }
            >
              <a
                href={link.url}
                class="group flex w-full gap-3 hover:bg-fuchsia-50 active:bg-fuchsia-100"
              >
                <span class="group-hover:underline">{link.name}</span>
                <span class="italic text-zinc-500 dark:text-zinc-50">
                  {link.description}
                </span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>
